/* HEADER */

header{
    position: fixed;
    top: 0px;
    width: 100%;
}

.header{
    background-color: rgb(58, 160, 255);
    height: 100px;
}

.logo img{
    height: 100px;
    margin-left: 20px;
}

.mensagem-ola{
    color: aliceblue;
    font-size: 20px;
}

/* MAIN */

main{
    margin-top: 100px;
}

/* FOOTER */

.footer{
    background-color: rgb(43, 43, 43);
    margin-top: 100vh;
}

.link{
    padding: 20px;
    color: white;

    &:hover{
        color: gray;
    }
}