{% extends "/base.html" %}

{% block title %} Área do usuário {% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/static/css/userArea.css">
{% endblock %}

{% block content %}
    <header>
        <div class="header row d-flex align-items-center">
            <div class="logo col">
                <!-- Logo -->
                <img src="/static/img/2maletaMedicaIOT-150x150-removebg-preview.png" alt="Logo">
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="footer d-flex justify-content-center">
            <div class="links-falsos row w-75">
                <div class="col d-flex flex-column align-items-center p-0">
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                </div>

                <div class="col d-flex flex-column align-items-center p-0">
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                </div>

                <div class="col d-flex flex-column align-items-center p-0">
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                    <a href="#" class="link">Link falso</a>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block scripts %}
    <script src="/static/js/userArea.js"></script>
{% endblock %}